*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
db/development.sqlite3
db/test.sqlite3
log

# YARD artifacts
.yardoc
_yardoc
doc/

log/*
