<h1>Questions <%= @user.name %> has answered</h1>
<% if @answers %>
  <% @answers.each do |answer| %>
    <% if answer.question %>
      <%= link_to answer.question.title, question_path(answer.question) %>
      <p>Asked by <%= answer.question.user.name %></p>
    <% end %>
  <% end %>
<% else %>
  <h1>!!!!!THIS USER HAS NO ANSWERS!!!!!</h1>
<% end %>
